<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div th:switch="${students}">
        <h2 th:case="null">No students yet!</h2>
        <div th:case="*">
            <h2>Students</h2>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Telegram</th>
                        <th>Level</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="student : ${students}">
                        <td th:text="${student.id}"></td>
                        <td th:text="${student.name}"></td>
                        <td th:text="${student.email}"></td>
                        <td th:text="${student.telegram}"></td>
                        <td th:text="${student.level}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p><a href="/add">Add new Student</a></p>
</body>
</html>